@import "tailwindcss";

/* ---- Estilos globales ---- */
@keyframes gradient{
  0%, 100% { background-position: 0% 50% ; }
  50% { background-position: 100% 50%; }
}
 




:root {
  --background: #000000; 
  --foreground: #f5f5f7; 
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* efecto blur glass iOS */
.glass {
  backdrop-filter: blur(20px) saturate(160%) contrast(120%);
  background: rgba(255, 255, 255, 0.08);
}

/* movimiento suave */
.smooth {
  transition: all 0.3s ease;
}